@model SacramentMeetingPlanner.Models.Ward

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ward</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bishop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bishop.FirstName)
            @Html.DisplayFor(model => model.Bishop.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First.FirstName)
            @Html.DisplayFor(model => model.First.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Second)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Second.FirstName)
            @Html.DisplayFor(model => model.Second.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
